<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/welcome']" routerLinkActive="active"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/products-list']" routerLinkActive="active"
      >Products</a
    >
  </li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<router-outlet></router-outlet>
